* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}
.clr {
  clear: both;
}
/* navbar */
nav {
  background-color: #fff;
  padding: 0 100px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
}
.logo img {
  width: 200px;
}
.logo {
  float: left;
}
.menu {
  float: right;
  padding-top: 15px;
}
.menu ul li {
  float: left;
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  color: #000;
  padding-right: 20px;
}
/* *************drop menu*********** */
.drop-menu {
  padding-top: 15px;
  position: absolute;
  display: none;
  right: 5%;
}
.drop-menu .drop-down li {
  list-style: none;
}
.main-link {
  padding-left: 20px;
}
.drop-menu .drop-down li a {
  text-decoration: none;
  color: black;
}
.dropdown-link {
  padding-top: 22px;
  visibility: hidden;
}
.dropdown-link li {
  padding: 15px 15px;
  background-color: white;
}
.main-link:hover + .dropdown-link {
  visibility: visible;
}
.dropdown-link:hover {
  visibility: visible;
}
/* ******up btn************ */
.up-btn {
  position: fixed;
  right: 1%;
  bottom: 1%;
}
/********************* home ****************/
.home {
  background-image: url(..//images/drew-coffman-1872.jpg);
  background-size: cover;
  background-position: 50%;
  height: 30vh;
  text-align: center;
}
.caption {
  padding-top: 90px;
  color: white;
}
.caption h2 {
  font-size: 50px;
}
/********************* our story ****************/
.our-story {
  padding-top: 150px;
}
.ph {
  width: 50%;
  float: left;
}
.ph img {
  width: 100%;
}
.dis {
  width: 50%;
  float: left;
  padding: 150px 100px;
}
.dis p {
  padding: 12px 0;
}
/********************* our bakery ****************/
.our-bakery {
  padding-top: 150px;
  text-align: center;
}
.our-bakery h6 {
  padding: 12px 0;
}
.items {
  padding-bottom: 150px;
}
.item {
  width: calc(100% / 3);
  text-align: left;
  float: left;
  padding: 0 15px;
}
.item p {
  font-size: 13px;
}
/* ********************details88888888888888888 */
.details {
  background-color: #8e7754;
  padding: 70px 0;
}
.det {
  width: calc(100% / 4);
  float: left;
  color: #fff;
  text-align: center;
}
.det h2 {
  padding: 10px 0;
  font-weight: 600;
  font-size: 36px;
}
.det h5 {
  font-weight: 400;
}
/************** footer section more info **********************/
footer .more-info {
  background-color: #403d38;
  padding: 80px 0;
}
.more-info h5 {
  color: white;
}
.line {
  width: 100%;
  height: 0.5px;
  background-color: #777676;
  margin: 8px 0;
  margin-left: -12px;
  opacity: 0.4;
}
.about {
  width: 25%;
  float: left;
  padding: 0 25px;
}
.about p {
  color: #777676;
  font-size: 12px;
  padding-top: 15px;
  padding-left: 8px;
}
.special {
  width: 25%;
  float: left;
  padding: 0 25px;
}
.ul-more-info {
  list-style-type: "> ";
  padding-top: 15px;
  padding-left: 20px;
}
.ul-more-info li {
  color: #777676;
  font-size: 12px;
}
.opening {
  width: 25%;
  float: left;
  padding: 0 25px;
}

.detils {
  width: 25%;
  float: left;
  padding: 0 25px;
  position: relative;
}
.wall {
  position: absolute;
  left: 0;
  top: 15%;
  right: 0;
  bottom: 0;
  background-image: url(../images/contact-details-map.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.1;
}

/************** footer section social medi **********************/

footer .social-media {
  background-color: #353330;
  padding: 50px 0;
  text-align: center;
}
.social-media p {
  color: #777676;
  padding: 20px 0;
}
/************** media query **********************/
@media screen and (max-width: 850px) {
  .menu {
    display: none;
  }
  .drop-menu {
    display: block;
  }
}
/* ********larg screen********** */
@media screen and (max-width: 997px) {
  .about {
    width: 50%;
    padding-top: 20px;
  }
  .special {
    width: 50%;
    padding-top: 20px;
  }
  .opening {
    width: 50%;
    padding-top: 20px;
  }
  .detils {
    width: 50%;
    padding-top: 20px;
  }
  .det {
    width: calc(100% / 2);
  }
  .det:nth-child(3),
  .det:nth-child(4) {
    padding-top: 50px;
  }
}
/************** medium screen **********************/
@media screen and (max-width: 768px) {
  .ph {
    width: 100%;
  }
  .dis {
    width: 100%;
    padding: 0 0;
  }
  .item {
    width: 100%;
    padding: 0 0;
  }
  .about {
    padding: 0 0;
    width: 100%;
  }
  .special {
    width: 100%;
    padding: 0 0;
    padding-top: 20px;
  }
  .opening {
    width: 100%;
    padding: 0 0;
    padding-top: 20px;
  }
  .detils {
    width: 100%;
    padding: 0 0;
    padding-top: 20px;
  }
}

@media screen and (max-width: 425px) {
  .logo {
    margin-left: -70px;
  }
}
